# IDE
.idea/
*.env

# OS
Thumbs.db
ehthumbs.db
desktop.ini

# Temp
*~
*.bak
*.tmp
*.swp
*.swo
*.log
tasks.txt
print_linux_path.py
api_test_notes.xlsx

# Python
.venv/
*.pyc
__pycache__/
*.egg-info
*.dist-info
local_settings.py

# Django
*.sqlite3
*.db
media/
static/
fixtures/
logs/